LCONF_VERSION = "7"
BBPATH = "${TOPDIR}"
BBFILES ?= ""
BSPDIR := "${@os.path.abspath('##OEROOT##/../..')}"
BBLAYERS = " \
  ${BSPDIR}/sources/openembedded-core/meta \
  ${BSPDIR}/sources/meta-yocto/meta-poky \
  ${BSPDIR}/sources/meta-openembedded/meta-oe \
  ${BSPDIR}/sources/meta-openembedded/meta-multimedia \
  ${BSPDIR}/sources/meta-openembedded/meta-python \
  ${BSPDIR}/sources/meta-openembedded/meta-networking \
  ${BSPDIR}/sources/meta-openembedded/meta-perl \
  ${BSPDIR}/sources/meta-freescale \
  ${BSPDIR}/sources/meta-freescale-3rdparty \
  ${BSPDIR}/sources/meta-freescale-distro \
  ${BSPDIR}/sources/meta-arm/meta-arm \
  ${BSPDIR}/sources/meta-arm/meta-arm-toolchain \
  ${BSPDIR}/sources/meta-clang \
  ${BSPDIR}/sources/meta-imx/meta-imx-bsp \
  ${BSPDIR}/sources/meta-imx/meta-imx-sdk \
  ${BSPDIR}/sources/meta-ros/meta-ros-common \
  ${BSPDIR}/sources/meta-ros/meta-ros2 \
  ${BSPDIR}/sources/meta-ros/meta-ros2-jazzy \
  ${BSPDIR}/sources/meta-raven/meta-raven-bsp \
  ${BSPDIR}/sources/meta-raven/meta-raven-sdk \
"
